@model AppService.Dto.StoreDto

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store Detail</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.StoreId, new { @class = "control-label" })
        @Html.EditorFor(m => m.StoreId, new { htmlAttributes = new { @class = "form-control" ,@readonly ="readonly" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        @if (Model.Employees != null)
        {
            foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                </tr>
            }
        }
    </table>
    

    <input type="submit" value="Update" formaction="UpdateStore" class="btn btn-success" />
    <input type="submit" value="Delete" formaction="DeleteStore" class="btn btn-danger" />
    <input type="submit" value="Cancel" formaction="Index" class="btn btn-default" />
</div>


}

